::-webkit-scrollbar {
    border-radius: 2px;
    background-color: #333333;
    -webkit-box-shadow: 0 0 1px rgb(196 196 196 / 20%);
    box-shadow: 0 0 1px rgb(196 196 196 / 20%);
    width: 4px;
}

.form {
    width: 100%;
}
.messages {
    margin-bottom: 100px;
    height: 800px;
    overflow-y: scroll;
}

.input-style {
    position: absolute;
    bottom: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}
.input-style input {
    padding: .375rem .75rem;
    font-size: 1rem;
    border-bottom-left-radius: .25rem;
    border-top-left-radius: .25rem;
    width: 70%;
    outline: none;
    border: 1px solid #fff;
}
.input-style input:focus {
    border: 1px solid #333333;
}
.input-style button {
    background-color: #333333;
    width: 20%;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}