.header {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: #333333;
    margin: 0;
    height: 45px;
}
.header li {
    list-style: none;
    margin-right: 30px;
    margin-left: 10px;
}
.header a {
    text-decoration: none;
    color: white;
    
}